<h1>
  CDK
</h1>
<div class="container">

<div class="row">
  <div class="col-6">

    <h3>Infinite scroll</h3>

    <cdk-virtual-scroll-viewport itemsize="50" class="list-group infinite-scroll">
      <li *ngFor="let item of items" class="list-group-item">
        {{item}}
      </li>
    </cdk-virtual-scroll-viewport>

  </div>

  <div class="col-6">
    <h3>
      Drag & drop
    </h3>

    <ul class="list-group infinite-scroll">
      <li *ngFor="let item of items" class="list-group-item">
        {{item}}
      </li>
    </ul>

  </div>
</div>
</div>

<router-outlet></router-outlet>
