body {
    background-color: yellowgreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 2px 1px gray;
    font-size: 3rem;
}

.container {
    background-image: url('../img/daisy.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 15vw;
    margin: 0 37%;
    padding: 5%;
    border-radius: 10%;
}

input {
    height: 3rem;
    width: 80%;
    border: none;
    background-color: whitesmoke;
    font-size: 1.6rem;
}

.container .pad {
    width: 50%;
    transform: translateX(-6vw);
    display: flex;
    flex-direction: row;
    background-image: none;
}

#numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
}

#numbers button, #actions button {
    width: 3vw;
    padding: 6%;
    margin: 3%;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.733);
    border: none;
    border-radius: 10%;
    
}

#actions {
    margin: 10%;
}

#actions button {
    display: block;
    margin-bottom: 20%;
}

button:active {
    background-color: white;
}