/*breakpoint degli schermi:

cellulare in verticale: 320px
cellulare in orizzontale: 480px
tablet in verticale: 768px
laptop: 1024px
schermo grande: 1200px */ 


@media (max-width:1200px) {
    .blog {
        width: 1024px;
        margin: 0 auto;
    }

    .blocco  {
        width: calc(100% / 3);
    }
}

@media (max-width:1024px) {
    .blog {
        width: 768px;
    }
    .blocco {
        width: calc(100% / 2 - 2px)
    }
}

@media (max-width: 768px) {
    .blog{
        width: 100%;
    }

    .blocco {
        width: calc(100% - 2px);
    }
}

@media (max-width:480px) {

}